extends layout

block content
  h1= title
    h1 AWS Elastic BeanStalk
    h1 Setting up on a local Mac
    p Install homebrew if you haven't already.
    p Install the Elastic BeanStalk CLI:
    pre.
      brew install awsebcli      
    p Test that it's working:
    pre.
      cnc0023:beanstalk-demo justin.miller$ eb --version      
    pre.
      EB CLI 3.7.3 (Python 2.7.1)      
    p  
    p Set up a credentials file in your home directory
    pre.
      cnc0023:beanstalk-demo justin.miller$ cat ~/eb-test-creds      
    pre.
      AWSAccessKeyId=AKIAJUOIOSDDEXAMPLE      
    pre.
      AWSSecretKey=FOQCIPO3O/V9QcNoDmxGpj613EXAMPLEn1IJRP      
    p  
    p
      | Make sure you set security on the file and export the required aws credentials variable.
    pre.
      chmod 600 eb-test-creds      
    pre.
      export AWS_CREDENTIAL_FILE=/Users/justin.miller/eb-test-creds      
    p
    p something I'm testing in stage....
